*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-bg-color: #ededed
}
input,
textarea,
select,
button {
  width:  150px;
}

.wrapper{
    display: flex;
}
.left-sidebar{
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    width: 35%;
    height: 100vh;
}
.sidebar-text{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    background-color: rgba(0, 0, 0, 0.35);
}
.sidebar-text > h1{
    font-size: 3rem;
}

main{
    width: 65%;
    background-color: var(--main-bg-color);
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    
}

.main-1{
    margin-top: 2rem;
    background-color: var(--main-bg-color);
    padding: 2rem;
}
.main-2{
    padding: 2rem;
    background-color: white;
    -webkit-box-shadow: 3px 5px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 5px -3px rgba(0,0,0,0.75);
    

    z-index: 1;
}
.main-3{
    padding: 2rem;
    background-color: var(--main-bg-color);
    
}
fieldset{
    display: flex;
    gap: 3rem;
    border: none;
}
label{
    display: block;
    
}
input{
    width: min(290px, 15rem);
    padding: .3rem;

}

.header-text{
    font-size: 1.5rem;
    font-weight: bold;
}

.header-text:nth-child(2){
    margin-top: 2rem;
}